h1 {
	color: blue; /*Only affects font color*/
	background-color: gray;
}

html{
	color: red; /*Inheritance -- everything not otherwise defined in this file will have a font color of red*/
	color: green; /*What happens farthest down the file wins!*/
}
/*Note: h1 not affected -- Most Specific Rule Wins!*/

p {
	color: black;
	border: 1px solid black;
}

#zen-summary p{
	color: teal;
}

h2, h3 {
	color: red;
}
/*Comma = and*/