h1 {
	color: blue; /*Only affects font color*/
	background-color: gray;
}

html{
	color: red; /*Inheritance -- everything not otherwise defined in this file will have a font color of red*/
	color: green; /*What happens farthest down the file wins!*/
}