body{
	font-size: 100%; /*100% -- Default font size based on browser*/
	background: #e8e8e8;
}

h1{
	font-size: 5em; /*1em=100%*/
	
	/*5x larger than default font size -- will scale accordingly*/
	
	/*h1 not biggest -- size can be adjusted easily*/
	font-family: 'Lobster', cursive;
	color: red;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.75em;
	font-weight: normal;
	font-style: italic;
}

.nora{
	background-color: gray;
	font-family: "Helvetica", "Arial", sans-serif;
}

.helmer{
	font-family: "Georgia", "Times New Roman", serif;
}

.character{
	font-weight: bold;
	font-style: italic;
}

.nora, .helmer{
	font-size: .75em;
}