body{
	background-color: #e8e8e8;
}

.menu-item{
	text-transform: lowercase;
	font-weight: bold;
}

.menu-item:first-letter{
	text-transform: capitalize;
}

.price{
	font-weight: normal;
	font-style: italic;
}

.menu-description:first-letter{
	text-transform: capitalize;
}

a{
	text-decoration: none;
}
a:link{
	color: #0f003e;
}

a:visited{
	color: #ec176a;
}

a:hover{
	color: #ffdb2d;
	text-decoration: underline;
}
a:active{
	color: #4e4100;
}